*{
    margin: 0px;
    padding: 0px;
}

::-webkit-scrollbar{
    width: 0px;
    height: 0px;
}

img{
    width: 100vw;
}

a{
    display: block;
    text-decoration: none;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    background-color: rgba(216, 0, 0, 0.932);
    padding: 19px;
    font-size: 23px;
    font-weight: bolder;
}

a:hover{
    background-color: red;
}